<div class="container">
  <h1 class="text-center mb-4">{{ address.sectionTitle }}</h1>
  <p>
    {{ address.data?.street }}, {{ address.data?.number }},
    {{ address.data?.complement }}
  </p>
  <p>
    {{ address.data?.neighborhood }}, {{ address.data?.city }}-{{
      address.data?.state
    }}, CEP: {{ address.data?.zipCode }}
  </p>
  <p>
    Data de fundação:
    {{ address.data?.foundationDate }}
  </p>
  <!-- <p>Faturamento anual: {{ address.data.annualRevenue | currency: 'BRL' }}</p> -->
  <p>Faturamento anual: {{ address.data?.annualRevenue }}</p>
</div>
