<nav
  class="navbar navbar-expand-lg"
  [ngClass]="{
    'navbar-dark bg-dark': userIsAuthenticated,
    'navbar-light bg-light': !userIsAuthenticated
  }"
>
  <!-- <nav
  class="navbar navbar-expand-lg"
  [ngStyle]="{ 'background-color': userIsAuthenticated ? 'red' : 'black' }"
> -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./../assets/images/logo_wt.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#address">Endereço</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contato</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <a class="btn btn-outline-light" href="#">Search</a>
      </form> -->
      <ng-container>
        <p>Seja bem vindo, fulano</p>
        <p [ngSwitch]="userProfile">
          <span *ngSwitchCase="profilesEnum.ADMIN">(Admin)</span>
          <span *ngSwitchCase="profilesEnum.EDITOR">(Editor)</span>
          <span *ngSwitchCase="profilesEnum.EMPLOYEE">(Employee)</span>
          <span *ngSwitchCase="profilesEnum.USER">(User)</span>
          <span *ngSwitchCase="profilesEnum.VIEWER">(Viewer)</span>
          <span *ngSwitchDefault>(Visitante)</span>
        </p>
      </ng-container>
      <!-- <button class="btn btn-primary ms-2" (click)="auth()">
        {{ userIsAuthenticated ? "Sair" : "Entrar" }}
      </button> -->
      <!-- <button class="btn btn-primary ms-2" (click)="auth()">
        <span *ngIf="userIsAuthenticated">Sair</span>
        <span *ngIf="!userIsAuthenticated">Entrar</span>
      </button> -->
      <button class="btn btn-primary ms-2" (click)="auth()">
        <span *ngIf="userIsAuthenticated; else enter">Sair</span>
        <ng-template #enter>Entrar</ng-template>
      </button>
    </div>
  </div>
</nav>
