<!-- Navbar -->
<app-header></app-header>

<!-- End Navbar -->

<!-- Main -->
<main id="main">
  <!-- Carousel -->
  <app-carousel></app-carousel>
  <!-- End Carousel -->

  <!-- Features -->
  <section id="features" class="my-5">
    <div class="container">
      <h1 class="text-center mb-4">Destaques</h1>
      <div class="row">
        <div class="col features text-center">
          <img src="./../assets/images/feature1.png" alt="" />
          <div class="text-center">
            <h4>Destaque 1</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dolor
              arcu, malesuada eget posuere et.
            </p>
          </div>
        </div>
        <div class="col features text-center">
          <img src="./../assets/images/feature2.png" alt="" />
          <div class="text-center">
            <h4>Destaque 2</h4>
            <p>
              Aenean laoreet, felis id sollicitudin fringilla, leo orci iaculis
              eros, et volutpat nunc lacus ut sapien.
            </p>
          </div>
        </div>
        <div class="col features text-center">
          <img src="./../assets/images/feature3.png" alt="" />
          <div class="text-center">
            <h4>Destaque 3</h4>
            <p>
              Aenean non eros congue leo consectetur fermentum. Quisque ut
              dignissim tortor, eget porttitor magna.
            </p>
          </div>
        </div>
        <div class="col features text-center">
          <img src="./../assets/images/feature4.png" alt="" />
          <div class="text-center">
            <h4>Destaque 4</h4>
            <p>
              Duis id odio dapibus, finibus tortor eget, cursus nunc. Morbi
              egestas nisl orci, in cursus ipsum cursus et.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Features -->

  <!-- About -->
  <section id="about" class="my-5">
    <div class="container">
      <h1 class="text-center mb-4">Sobre a empresa</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dolor arcu,
        malesuada eget posuere et, aliquam non elit. Sed maximus ullamcorper
        dui, ac sollicitudin quam molestie ac. Aenean laoreet, felis id
        sollicitudin fringilla, leo orci iaculis eros, et volutpat nunc lacus ut
        sapien. Aliquam velit justo, vestibulum et augue ut, efficitur ultrices
        justo. Aenean non eros congue leo consectetur fermentum. Quisque ut
        dignissim tortor, eget porttitor magna. Etiam sem turpis, aliquam sit
        amet nisi non, bibendum finibus neque. Duis id odio dapibus, finibus
        tortor eget, cursus nunc. Morbi egestas nisl orci, in cursus ipsum
        cursus et. Pellentesque in suscipit ipsum, vel auctor nisl. Quisque
        vitae vehicula velit. Integer dolor sapien, rutrum faucibus eros ac,
        hendrerit aliquet diam. Quisque non sem eu odio vestibulum facilisis ac
        aliquam tellus. Cras aliquet velit quis suscipit tincidunt. Phasellus ut
        aliquam nulla.
      </p>

      <p>
        Nam dictum diam nibh, id ultricies nunc rhoncus at. Nullam lobortis,
        erat vitae tempus semper, ante leo elementum odio, eu viverra nisi est
        in odio. Sed mi quam, ultrices vel placerat a, finibus ut neque.
        Curabitur eu leo eleifend, congue nisi et, vestibulum ex. Nulla
        hendrerit ex non orci dictum mattis. Fusce faucibus vitae massa nec
        fermentum. Nam tristique libero ac tellus vestibulum bibendum. Phasellus
        euismod, metus ut pretium vulputate, mi orci dignissim enim, id egestas
        augue ex in neque. Nulla ac dictum arcu, sit amet fringilla nisi. Duis
        elementum blandit nisi et ultrices. Morbi scelerisque auctor dui,
        egestas varius tellus. Sed id placerat felis.
      </p>
    </div>
  </section>
  <!-- End About -->

  <!-- Address -->
  <section id="address" class="my-5">
    <div class="container">
      <h1 class="text-center mb-4">Endereço</h1>
      <p>
        Sed vel libero sed enim interdum ultrices. Praesent blandit accumsan
        neque a laoreet. Sed efficitur orci sit amet risus ultrices, non
        volutpat lacus dictum. Aliquam facilisis nulla libero, a varius metus
        gravida a. Praesent faucibus imperdiet pretium. Nam eget velit in ligula
        dictum lacinia vel ut odio. Nam at elit purus. Morbi sit amet porta
        arcu, id gravida orci. Phasellus dapibus, velit vel rutrum ullamcorper,
        nisi urna imperdiet ex, quis efficitur elit massa sit amet massa.
        Vestibulum non luctus mauris.
      </p>
    </div>
  </section>
  <!-- End Address -->

  <!-- Contact -->
  <section id="contact" class="my-5">
    <div class="container">
      <h1 class="text-center mb-4">Contato</h1>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Mensagem</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <button class="btn btn-primary">Enviar</button>
    </div>
  </section>
  <!-- End Contact -->

  <div class="btn-top">
    <a class="btn btn-link" href="#main">
      <img src="./../assets/images/seta-para-cima.png" alt="..." />
    </a>
  </div>
</main>
<!-- End Main -->

<!-- Footer -->
<footer class="footer">
  <p>&copy;2022 Todos os direitos reservados.</p>
</footer>
<!-- End Footer -->
